# User-specific stuff
.idea/

# CMake
cmake-build-*/

# File-based project format
*.iws

#veebimajutuse huinaa
elkdata_redirect_http_to_https_302
elkdata_redirect_www_to_nonwww_302

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# End of https://www.gitignore.io/api/intellij